---
layout: default
title: StreamBright Data - On-Demand Data Expertise
hero:
    title: On-Demand Data Expertise
    text: We design, build and optimize your data pipeline
    background: img/hero.jpg
    link_href: ./solutions.html#fh5co-main
    link_text: Learn more
---
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center fh5co-lead-wrap">
			<h2 class="fh5co-uppercase-heading-sm text-center">Partners</h2>
			<div class="row">
				<div class="col-sm-12">
                    {% assign sorted_partners = site.partners | sort: "order" %}
                    {% for partner in sorted_partners %}
					    <a class="nostyleanchor" href="./aboutus.html#partners">
                            <img src="{{ partner.logo }}" alt="{{ partner.name }}" class="partner-logo">
                        </a>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

{% for event in site.events %}
    <section id="{{ event.title | slugify }}" class="topborder">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="margin-top: 100px">
                    <img class="img-responsive" src="{{ event.image }}" alt="{{ event.title }}">
                </div>
                <div class="col-md-6" style="margin-top: 100px">
                    <h2 class="h3">
                        {{ event.title | upcase }} - 
                        {{ event.start_date | date:"%B" | upcase }} 
                        {{ event.start_date | date:"%-d" }}-{{ event.end_date | date:"%-d" }},
                        {{ event.start_date | date:"%Y"}}</h2>
                    <h4>{{ event.content | remove: '<p>' | remove: '</p>' }}</h4>
                    <p class="text-center"><a href="{{ event.href }}" class="btn btn-primary btn-lg">More Info</a></p>
                </div>
            </div>
            <div class="fh5co-spacer fh5co-spacer-md"></div>
        </div>
    </section>
{% endfor %}

<section id="fh5co-feature" class="topborder">
	<div class="container">
		<div class="row fh5co-feature-2">
			<div class="col-md-10 col-md-offset-1">
				<h2 class="fh5co-uppercase-heading-sm text-center">Solutions</h2>
				<div class="fh5co-spacer fh5co-spacer-sm"></div>

                {% assign sorted_offers = site.offers | sort: "order" %}

                {% for offer in sorted_offers %}
                    <div class="col-sm-6 col-md-4 fh5co-feature-item">
                        <span class="fh5co-feature-icon fh5co-circle"><i class="{{ offer.icon }}"></i></span>
                        <h3 class="text-center fh5co-feature-title h4 text-uppercase">{{ offer.topic }}</h3>
                        <p class="text-center fh5co-feature-description">{{ offer.description }}</p>
                        <p class="text-center"><a href="./solutions.html#what" class="btn btn-primary btn-sm">Read more</a></p>
                    </div>
                {% endfor %}
			</div>
		</div>
	</div>
</section>

<section id="fh5co-newsletter">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center">
				<h2 class="text-center fh5co-feature-title text-uppercase">Schedule a call with us!</h2>
				<h2 class="text-center fh5co-feature-title">Find out how we can help you.</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
				<div class="fh5co-spacer fh5co-spacer-xxs"></div>
				<a href="./contact.html" class="btn btn-primary btn-lg btn-block"> Schedule a Call</a>
			</div>
		</div>
	</div>
</section>