<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="StreamBright Data works on empowering companies to use their data to its full potential and accelerate adoption of big data technologies."
    />
    <meta name="keywords" content="big data, outsourcing, data pipeline, data engineering" />
    <meta name="author" content="hello@streambrightdata.com" />

    <!-- Facebook and Twitter integration -->

    <meta property="og:title" content="StreamBright Data" />
    <meta property="og:image" content="https://www.streambrightdata.com/img/logo-social.png" />
    <meta property="og:url" content="https://www.streambrightdata.com" />
    <meta property="og:site_name" content="StreamBright Data - On-Demand Data Expertise" />
    <meta property="og:description" content="StreamBright Data works on empowering companies to use their data to its full potential and accelerate adoption of big data technologies."
    />

    <meta name="twitter:title" content="StreamBright Data" />
    <meta name="twitter:image" content="https://www.streambrightdata.com/img/logo-social.png" />
    <meta name="twitter:url" content="https://twitter.com/streambright_" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@streambright_" />
    <meta name="twitter:description" content="StreamBright Data - On-Demand Data Expertise" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="./favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="./favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
    <link rel="manifest" href="./favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	  <script src="js/modernizr-2.6.2.min.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->
    <script>
        (function(){
            var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call","trackForm","trackClick"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="https://static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
        })("woopra");

        woopra.config({
        domain: 'streambrightdata.com'
        });
        woopra.track();
    </script>

    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-70627355-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>

    <script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "Organization",
        "url" : "http://www.streambrightdata.com",
        "sameAs" : [
            "https://www.linkedin.com/company/streambright"
            "https://www.facebook.com/streambright",
            "https://twitter.com/StreamBright_",
        ],
        "logo" : "https://www.streambrightdata.com/img/logo.png",
        "contactPoint" : [{
            "@type" : "ContactPoint",
            "telephone" : "+1-941-315-8512",
            "contactType" : "Sales"
        }]
    }
    </script>

    <!-- Google Webfont -->
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CCrimson+Text' rel='stylesheet' type='text/css'>
	<!-- FontAwesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<!-- Theme Style -->
	<link rel="stylesheet" href="css/styles.css">

</head>

<body {% if page.url != "/" %}class="inner-page"{% endif %}>
    <!-- START #fh5co-header -->
    <header id="fh5co-header-section">
        <div class="container">
            <!-- START #fh5co-logo -->
            <div id="fh5co-logo" class="pull-left">
                <a href="index.html"><img src="./img/logo_white.png" alt="StreamBright Data Logo" id="img-logo" class="header-logo"></a>
            </div>

            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap">
                <ul class="sf-menu" id="fh5co-primary-menu">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="solutions.html">Solutions</a>
                    </li>
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="https://medium.com/@streambright">Blog</a></li>
                    <li><a href="contact.html" class="cta-header">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- START #fh5co-hero -->
    <aside id="fh5co-hero" style="background-image: url({{ page.hero.background }});">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="fh5co-hero-wrap">
                        <div class="fh5co-hero-intro">
                                <h1 {% if page.url != "/" %}style="font-size: 30px;"{% endif %}>{{ page.hero.title }}<span></span></h1>
                                <h2>{{ page.hero.text }}</h2>
                                <a href="{{ page.hero.link_href }}" class="btn btn-primary btn-lg {% if page.url == "/" %}cta-hero{% endif %}">{{ page.hero.link_text }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <div id="fh5co-main">
        {{ content }}
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs">
                                <ul class="footer-menu">
                                    <li>
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li>
                                        <a href="solutions.html">Solutions</a>
                                    </li>
                                    <li><a href="aboutus.html">About Us</a></li>
                                    <li><a href="https://medium.com/@StreamBright">Blog</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                            <!-- <hr class="visible-xs"> -->
                            <div class="col-sm-6 col-sm-offset-1">
                                <p class="title">Big Data News</p>
                                <a class="medium-post" href="https://medium.com/truth-labs/designing-data-driven-interfaces-a75d62997631">
                                    <h5>Designing Data-Driven Interfaces</h5>
                                    <h6>Telling the story of your data</h6>
                                </a>
                                <a class="medium-post" href="https://www.oreilly.com/ideas/the-world-beyond-batch-streaming-101">
                                    <h5>The world beyond batch: Streaming 101</h5>
                                    <h6>A high-level tour of modern data-processing concepts.</h6>
                                </a>
                                <a class="medium-post" href="https://www.oreilly.com/ideas/the-world-beyond-batch-streaming-102">
                                    <h5>The world beyond batch: Streaming 102</h5>
                                    <h6>The what, where, when, and how of unbounded data processing.</h6>
                                </a>
                            </div>
                            <hr class="visible-xs">
                            <div class="col-sm-2 col-sm-offset-1">
                                <ul class="list-unstyled footer-menu" style="text-align: center">
                                    <li><a class="social" href="https://github.com/StreamBright"><i class="ti-github"></i> Github</a></li>
                                    <li><a class="social" href="https://www.linkedin.com/company/streambright"><i class="ti-linkedin"></i> LinkedIn</a></li>
                                    <li><a class="social" href="https://twitter.com/lix"><i class="ti-twitter-alt"></i> Twitter</a></li>
                                </ul>
                            </div>
                            <hr class="visible-xs">
                        </div>
                    </div>
                </div>
                <p class="text-muted fh5co-no-margin-bottom text-center special-anchor">
                    <small>
                        &copy; 2016 <a href="index.html">StreamBright Data LLC</a>.
                        <br />
                        All rights reserved.
                        <br />
                        Crafted by <a href="https://witude.com/">Witude</a>.
                    </small>
                </p>
            </div>
        </footer>
    </div>

    <script src="js/all.min.js"></script>

</body>

</html>